:root {
  --bg-color: rgb(255, 255, 255);
  --text-color: rgb(0, 0, 0);
  --main-font: Arial, sans-serif;
  --header-font: '3270', "Courier New", monospace;
}

@import "https://www.nerdfonts.com/assets/css/webfont.css";

@font-face {
    font-family: '3270';
    src: url('https://kirito139.github.io/stash/fonts/3270NerdFont-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--main-font);
    text-align: center;
    padding: 20px;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header {
    font-family: var(--header-font);
}

footer {
    font-family: var(--main-font) !important;
    font-style: italic;
    font-size: 90%;
}

.main-content {
    margin-right: 370px;
}

@media screen and (max-width: 768px) {
    .lastfm-widget {
        position: static;
        display: block;
        margin: 20px auto;
        width: 100%;
    }
    .lastfm-widget img {
        max-width: 100%;
        height: auto;
    }
    .main-content {
        margin-right: 0;
    }
}
.container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.sidebar {
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar iframe {
    max-width: 100%;
}

.strava-widget, .lastfm-widget {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        margin-top: 20px;
    }

    .main-content {
        margin-right: 0;
    }
}
